body
{
	background-color: #4682B4;
}

h1
{
	color: white;
	font-size: 30px;
	font-family: Arial;
}


nav
{
	
	
	margin-right: 20%;
	margin-left: 20%;
	border: 1px solid black;
	text-align: center;
	font-size: 15px;
	margin-bottom: 20px;


}

header
{
	margin-left: 20%;
	background-image: url(../Images/Dirt.jpg);
	background-size: 800px 200px;
	margin-right: 20%;
	margin-bottom: 5px;
	text-align: center;
	height: 100px;

}
section
{
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 10px;

}


}

.fond
{
	color: black;
	font-size: 15px;
	font-family: Arial;
	border: 1px solid black;
	margin-bottom: 10px;
	text-align: justify;
}

.intro
{
	color: white;
	font-size: 15px;
	border: 1px solid black;
	font-family: Arial;
	margin-bottom: 10px;

	
}

p.slogan
{
	color: white;
	font-size: 20px;
	font-family: Arial;
	font-style: italic;

}

li.menu 
{
	display:inline;
}


footer
{

	margin-left: 20%;
	margin-right: 20%;
	border: 1px solid black;
}
